{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Cart{{block.super}}
{% endblock %}

{% block content %}
<div class="cart">
	 <div class="container">
		 <div class="cart-top">
			<a href="{% url 'index' %}"><< home</a>
		 </div>	
			
		 <div class="col-md-9 cart-items">
			 <h2>My Shopping Bag ({{ cart.item_count }})</h2>
				<!--<script>$(document).ready(function(c) {-->
					<!--$('.close1').on('click', function(c){-->
						<!--$('.cart-header').fadeOut('slow', function(c){-->
							<!--$('.cart-header').remove();-->
						<!--});-->
						<!--});	  -->
					<!--});-->
			   <!--</script>-->
             {% for item in cart.list_items %}
			 <div class="cart-header">
                 <form action="{% url "cart-remove" %}" method="post">
                     {% csrf_token %}
                     <input type="hidden" name="pk" value="{{item.obj.id}}">
                     <div class="close1"> </div>
                 </form>

                 <div class="cart-sec">
                     <div class="cart-item cyc">
                        <img src="{{ item.obj.img.all.0.image.url }}"/>
                     </div>
                     <div class="cart-item-info">
                         <h3>{{item.obj.name}}</h3>
                         <h4><span>Rs. $ </span>{{item.price}}</h4>
                         <p class="qty">Qty ::</p>
                         <form action="{% url "cart-change-quantity" %}" method="post" style="display:  inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{item.obj.id}}">
                            <input min="1" type="number" id="quantity" name="quantity" value="{{ item.quantity }}" class="quantity form-control input-small">
                        </form>
                     </div>
                     <div class="clearfix"></div>
                     <div class="delivery">
                         <!--<p>Service Charges:: Rs.100.00</p>-->
                         <span>Delivered in 2-3 bussiness days</span>
                         <div class="clearfix"></div>
                     </div>
                 </div>
			 </div>
             {% endfor %}
			 <!--<script>$(document).ready(function(c) {-->
					<!--$('.close2').on('click', function(c){-->
							<!--$('.cart-header2').fadeOut('slow', function(c){-->
						<!--$('.cart-header2').remove();-->
					<!--});-->
					<!--});	  -->
					<!--});-->
			 <!--</script>-->
		 </div>
		 
		 <div class="col-md-3 cart-total">
			 <a class="continue" href="#">Continue to basket</a>
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total">{{ cart.total_price }}</span>
				 <span>Discount</span>
				 <span class="total">---</span>
				 <!--<span>Delivery Charges</span>-->
				 <!--<span class="total">150.00</span>-->
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">{{ cart.total_price }}</span>
			 <div class="clearfix"></div>
			 <a class="order" href="#">Place Order</a>
			 <!--<div class="total-item">-->
				 <!--<h3>OPTIONS</h3>-->
				 <!--<h4>COUPONS</h4>-->
				 <!--<a class="cpns" href="#">Apply Coupons</a>-->
				 <!--<p><a href="#">Log In</a> to use accounts - linked coupons</p>-->
			 <!--</div>-->
			</div>
	 </div>
</div>
<!---->

{% endblock %}
