{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Single {{block.super}}
{% endblock %}

{% block content %}
<div class="product">
	 <div class="container">
		 <div class="ctnt-bar cntnt">
			 <div class="content-bar">
				 <div class="single-page">
					 <div class="product-head">
						<a href="{% url 'index' %}">Home</a> <span>::</span>	
					</div>
					 <!--Include the Etalage files-->
					<link rel="stylesheet" href="{% static 'css/etalage.css' %}">
					<script src="{% static 'js/jquery.etalage.min.js' %}"></script>
					<script>
						jQuery(document).ready(function($){

							$('#etalage').etalage({
								thumb_image_width: 400,
								thumb_image_height: 400,
								source_image_width: 800,
								source_image_height: 1000,
								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});

						});
					</script>
					<!--//details-product-slider-->
					<div class="details-left-slider">
						<div class="grid images_3_of_2">
						 	<ul id="etalage">
						 	{% for bike_img in bike_images %}
						 	
						 		<li>
									<img class="etalage_thumb_image" src="{{bike_img.image.url}}" class="img-responsive" />
									<img class="etalage_source_image" src="{{bike_img.image.url}}" class="img-responsive" title="" />
								</li>
								
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="details-left-info">
						<h3>{{bike.name}}</h3>
							<!-- <h4>Model No: 3498</h4> -->
						<!-- <h4></h4> -->
						<p><label>$</label> {{bike.cost}} <!--<a href="#">Click for offer</a></p>-->
						<!-- <p class="size">SIZE ::</p>
						<a class="length" href="#">XS</a>
						<a class="length" href="#">M</a>
						<a class="length" href="#">S</a> -->
						<form action="{% url "cart-add" %}" method="post" class="btn_form">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{bike.id}}">

							<!--<a href="{% url 'cart' %}">buy now</a>-->
                            <button type="submit" id="cart_add" data-pk="{{bike.id}}">ADD TO CART</button>
							 <!--<a type='button' href="">ADD TO CART</a>-->
						</form>
						<div class="bike-type">
							<p>TYPE  ::<a href="#">{{bike.get_bike_type_display}}</a></p>
							<p>BRAND  ::<a href="#"> {{bike.brand}} </a></p>
						</div>
						<h5>Description  ::</h5>
						<p class="desc">{{bike.description}}</p>
					 </div>
					 
					 <div class="clearfix"></div>				 	
				  </div>
			  </div>
		  </div>
		  <!-- <div class="single-bottom2">
			  <h6>Related Products</h6>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="{% static 'images/s1.jpg' %}" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="bicycles.html">Road Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$300.51</span>								
							<a class="button1" href="{% url 'cart' %}"><span>Add to cart</span></a>
					 </div>
						<div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="{% static 'images/s2.jpg' %}" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="bicycles.html">Mountain Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$1500.51</span>								
							<a class="button1" href="{% url 'cart' %}"><span>Add to cart</span></a>
					 </div>
				  <div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="{% static 'images/s3.jpg' %}" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="{% url 'bicycles' %}">Single Speed Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$800.51</span>								
							<a class="button1" href="{% url 'cart' %}"><span>Add to cart</span></a>
					 </div>
				 <div class="clearfix"></div>
			  </div>
		 </div>	 -->
	 </div>
</div>
<!---->

{% endblock %}

